<% if current_user.manufacturer? then %>

    <section class="section">
        <h4 class="section__header"><%= t('tariff.choose') %></h2>
        <div class="tariff-list">
            <% @tariffs.each do |tariff| %>
                <%= render partial: "blocks/tariff", locals: { tariff: tariff } %>
            <% end %>
        </div>
    </section>

<% end %>

<section class="section">
    <div class="settings">
        <div class="settings__password password">
            <h4 class="sm__header">Изменить пароль</h4>
            <div class="password__form">
                <form id="passwordChange" class="form">
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <input type="password" name="oldpassword" required placeholder="Введите  старый пароль" class="form-control input-field">
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <input type="password" name="newpassword" required placeholder="Введите новый пароль" class="form-control input-field">
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <input type="password" name="newrepassword" required placeholder="Подтвердите новый пароль" class="form-control input-field">
                        </div>
                    </div>
                    <button class="form__btn box box_center">
                        <span class="box__content_wrap">
                            <span class="icon-note icon"></span>
                            <span class="box__content">Сохранить изменения</span>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
