
.faq {
  width: 100%;
  max-width: 900px;
  margin: 50px auto 0 auto;

  .card {
    margin: 10px 0;
    border-radius: 0!important;

    &-header {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;

      cursor: pointer;
      padding: 15px 20px!important;
      background-color: #f8f8f8!important;

      h5 {
        font-size: 16px;
        margin: auto 0;
        padding-right: 20px;
      }

      .arrow-collapse {
        -webkit-transition: ease 180ms;
        -moz-transition: ease 180ms;
        -ms-transition: ease 180ms;
        -o-transition: ease 180ms;
        transition: ease 180ms;

        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);

        display: flex;
        margin: auto 0;
        font-size: 20px;

        .icon {
          margin: 0!important;
        }
      }
    }

    &-body {
      font-size: 14px;
      padding: 15px 20px;
    }

    .collapsed {
      .arrow-collapse {
        -webkit-transition: ease 180ms;
        -moz-transition: ease 180ms;
        -ms-transition: ease 180ms;
        -o-transition: ease 180ms;
        transition: ease 180ms;

        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
}
