section {
  
  &#choose-tariff {
    background: fixed url("../../images/startscreen.jpg") center no-repeat;
    .section__header {
      color: white;
    }
  }

  &#choose-regions, &#choose-furnitures, &#choose-data {
    .form-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .form-check {
        &_all-regions, &_all-furnitures, &_confirm-using-data {
          padding: 0 16px;
          background: #fff3ca;
          border-radius: 10px;
        }

        &_all-furnitures {
          padding-top: 4px;
        }

        img {
          width: 35px;
          margin-right: 5px;
        }
      }
    }
  }

  form#edit_user_1 {
    text-align: center;
  }
}
