@import "../../variables.scss";

.profile-info {
    max-width: $body-width;
    box-shadow: 0 0 25px rgba(0,0,0,0.22);
    border-radius: 5px;
    margin: 5% auto 0 auto;
    padding: 30px;

    td {
        padding: 1.2rem;
    }
}