<div class="panel">
    <div class="panel__inner panel_success">
        <div class="panel__icon">
            <span class="icon-emotsmile icon"></span>
        </div>
        <h2 class="panel__title">Спасибо, Ваша заявка оформлена!</h2>
        <p class="panel__text">Ожидайте звонка от производителя в ближайшее время!</p>
    </div>
</div>