<section class="section section_no-shadow section_text-only">
    <h1>Політика конфіденційності</h1>
    <p>Справжня Політика конфіденційності персональних даних (далі - Політика конфіденційності) діє відносно всієї інформації, яку Інтернет-сервіс <b>«Woodmister"</b> з продажу меблів, розташований за адресою - Woodmister.com, може отримати про Користувача під час користування сервісом.</p>
    <p><b>1. Визначення термінів</b></p>
    <ul>
        <li>1.1 У цій Політиці конфіденційності використовуються такі терміни:
            <ul>
                <li>1.1.1. «Адміністрація сайту Інтернет-сервісу <b>Woodmister</b> з продажу меблів (далі - Адміністрація сайту)» - уповноважені співробітники на управління сайтом, що діють від імені інтернет-сервісу Woodmister, які організовують і здійснюють обробку персональних даних, а також визначають цілі обробки персональних даних, склад персональних даних, що підлягають обробці, дії або операції, що здійснюються з персональними даними.</li>
                <li>1.1.2. «Персональні дані» - будь-яка інформація, що стосується прямо, або побічно, певній, або визначеній фізичній особі (суб'єкту персональних даних).</li>
                <li>1.1.3. «Обробка персональних даних» - будь-яка дія (операція), або сукупність дій (операцій), що здійснюються з використанням засобів автоматизації, або без використання таких засобів з персональними даними, включаючи збір, запис, систематизацію, накопичення, зберігання, уточнення (оновлення, зміна), витяг, використання, передачу (поширення, надання, доступ), знеособлення, блокування, видалення, знищення персональних даних.</li>
                <li>1.1.4. «Конфіденційність персональних даних» - обов'язкова для дотримання Адміністратором або іншою особою, що  отримала доступ до персональних даних  вимога не допускати їх поширення без згоди суб'єкта персональних даних, або наявності іншої законної підстави.</li>
                <li>1.1.5. «Користувач сайту Інтернет-сервісу з продажу меблів <b>“Woodmіster»</b> - особа, яка має доступ до Сайту, за допомогою мережі Інтернет і використовує Сайт інтернет сервісу <b>Woodmister</b>.</li>
                <li>1.1.6. «Cookies» - невеликий фрагмент даних, відправлений веб-сервером ,що зберігається на комп'ютері користувача, який веб-клієнт ,або веб-браузер кожен раз пересилає веб-серверу в HTTP-запиті при спробі відкрити сторінку відповідного сайту.</li>
                <li>1.1.7. «IP-адреса» - унікальна мережева адреса вузла в комп'ютерній мережі, побудованої за протоколом IP.</li>
            </ul>
        </li>
    </ul>
    <p><b>2. Загальні положення</b></p>
    <ul>
        <li>2.1. Використання Користувачем сайту Інтернет-сервісу <b>Woodmister</b> з продажу меблів означає згоду з цією Політикою конфіденційності та умовами обробки персональних даних Користувача.</li>
        <li>2.2. У разі незгоди з умовами Політики конфіденційності Користувач повинен припинити використання сайту Інтернет-сервісу <b>Woodmister</b> з продажу меблів.</li>
        <li>2.3. Дана політика конфіденційності застосовується лише до сайту Інтернет-сервіс <b>Woodmister</b> з продажу меблів. Інтернет-сервіс <b>Woodmister</b> з продажу меблів не контролює і не несе відповідальність за сайти третіх осіб, на які Користувач може перейти по посиланнях, доступним на сайті.</li>
        <li>2.4. Адміністрація сайту не перевіряє достовірність персональних даних, що надаються Користувачем сайту.</li>
    </ul>
    <p><b>3. Предмет Політики конфіденційності</b></p>
    <ul>
        <li>3.1. Справжня Політика конфіденційності встановлює зобов'язання Адміністрації сайту Інтернет-сервісу <b>Woodmister</b> з продажу меблів щодо нерозголошення та забезпечення режиму захисту конфіденційності персональних даних, які Користувач повинен за вимогою надати Адміністрації сайту при реєстрації на сайті Інтернет-сервісу <b>Woodmister</b> з продажу меблів або при оформленні замовлення для придбання Товару.</li>
        <li>3.2. Персональні дані, дозволені до обробки в рамках цієї Політики конфіденційності, надаються Користувачем шляхом заповнення реєстраційної форми на Сайті Інтернет-сервісу <b>Woodmister</b> з продажу меблів в розділі про реєстрацію і включають в себе наступну інформацію:
            <ul>
                <li>3.2.1. ПІБ Користувача;</li>
                <li>3.2.2. контактний телефон Користувача;</li>
                <li>3.2.3. адреса електронної пошти (e-mail);</li>
                <li>3.2.4. адреса доставки Товару;</li>
                <li>3.2.5. місце проживання Користувача.</li>
            </ul>
        </li>
        <li>3.3.Інтернет-сервіс <b>Woodmister</b> з продажу меблів захищає Дані, які автоматично передаються в процесі перегляду рекламних блоків і при відвідуванні сторінок, на яких встановлено статистичний скрипт системи ("піксель"):
            <ul>
                <li>IP адреса;</li>
                <li>інформація з cookies;</li>
                <li>інформація про браузер (чи іншої програми, яка здійснює доступ до показу реклами);</li>
                <li>час доступу;</li>
                <li>адреса сторінки, на якій розташований рекламний блок;</li>
                <li>реферер (адреса попередньої сторінки).</li>
            </ul>
            <ul>
                <li>3.3.1. Відключення cookies може спричинити неможливість доступу до частин сайту Інтернет-сервісу <b>Woodmister</b> з продажу меблів, які вимагають авторизації.</li>
                <li>3.3.2. Інтернет-сервіс <b>Woodmister</b> з продажу меблів здійснює збір статистики про IP-адреси своїх відвідувачів. Дана інформація використовується з метою виявлення і вирішення технічних проблем, для контролю законності проведених фінансових платежів.</li>
            </ul>
        </li>
        <li>3.4. Будь-яка інша персональна інформація, не обумовлені вище (історія покупок, використовувані браузери і операційні системи і т.д.), підлягає надійному зберіганню і нерозповсюдження, за винятком випадків, передбачених в п.п. 5.2. і 5.3. цієї Політики конфіденційності.</li>
    </ul>
    <p><b>4. Цілі збору персональної інформації користувача</b></p>
    <ul>
        <li>4.1. Персональні дані Користувача Адміністрація сайту Інтернет-сервісу <b>Woodmister</b> з продажу меблів може використовувати в цілях:
            <ul>
                <li>4.1.1. Ідентифікації Користувача, зареєстрованого на сайті Інтернет-сервісу <b>Woodmister</b> з продажу меблів, для оформлення замовлення і (або) укладення Договору купівлі-продажу товару дистанційним способом з третіми особами-клієнтами через Інтернет-сервіс <b>Woodmister</b> з продажу меблів.</li>
                <li>4.1.2. Надання Користувачеві доступу до персоналізованих ресурсів сайту Інтернет-сервісу <b>Woodmister</b> з продажу меблів.</li>
                <li>4.1.3. Встановлення з Користувачем зворотного зв'язку, включаючи напрямок повідомлень, запитів, що стосуються використання Сайту Інтернет-сервісу <b>Woodmister</b> з продажу меблів, надання послуг, обробка запитів і заявок від клієнтів Користувача.</li>
                <li>4.1.4. Визначення місця знаходження Користувача для забезпечення безпеки, запобігання шахрайства.</li>
                <li>4.1.5. Підтвердження достовірності та повноти персональних даних, наданих Користувачем.</li>
                <li>4.1.6. Створення облікового запису для здійснення покупок, якщо Користувач дав згоду на створення облікового запису.</li>
                <li>4.1.7. Повідомлення Користувача Сайту Інтернет-сервісу <b>Woodmister</b> з продажу меблів про стан Замовлення.</li>
                <li>4.1.8. Обробки і отримання платежів, підтвердження податку або податкових пільг Користувачем.</li>
                <li>4.1.9. Надання Користувачеві ефективної клієнтської і технічної підтримки при виникненні проблем пов'язаних з використанням Сайту Інтернет-сервісу <b>Woodmister</b> з продажу меблів.</li>
                <li>4.1.10. Надання Користувачеві з його згоди, оновлень продукції, спеціальних пропозицій, інформації про ціни, розсилки новин та інших відомостей від імені Інтернет-сервісу <b>Woodmister</b> з продажу меблів або від імені партнерів Інтернет-сервіс <b>Woodmister</b> з продажу меблів.</li>
                <li>4.1.11. Здійснення рекламної діяльності за згодою Користувача.</li>
                <li>4.1.12. Надання доступу Користувачеві на сайти або сервіси партнерів Інтернет-сервісу <b>Woodmister</b> з продажу меблів з метою отримання продуктів, оновлень і послуг.</li>
            </ul>
        </li>
    </ul>
    <p><b>5. Способи і терміни обробки персональної інформації</b></p>
    <ul>
        <li>5.1. Обробка персональних даних Користувача здійснюється без обмеження терміну, будь-яким законним способом, в тому числі в інформаційних системах персональних даних з використанням засобів автоматизації або без використання таких засобів.</li>
        <li>5.2. Персональні дані Користувача можуть бути передані уповноваженим органам державної влади України тільки на підставах та в порядку, встановленим законодавством України.</li>
        <li>5.3. При втраті або розголошення персональних даних Адміністрація сайту інформує Користувача про втрату або розголошення персональних даних.</li>
        <li>5.4. Адміністрація сайту вживає необхідних організаційних і технічних заходів для захисту персональної інформації Користувача від неправомірного або випадкового доступу, знищення, перекручення, блокування, копіювання, поширення, а також від інших неправомірних дій третіх осіб.</li>
        <li>5.5. Адміністрація сайту спільно з Користувачем вживає всіх необхідних заходів щодо запобігання збиткам або інших негативних наслідків, викликаних втратою або розголошенням персональних даних Користувача.</li>
    </ul>
    <p><b>6. Зобов'язання сторін</b></p>
    <ul>
        <li>6.1. Користувач зобов'язаний:
            <ul>
                <li>6.1.1. Надати інформацію про персональні дані, необхідну для користування Сайтом Інтернет-сервіс <b>Woodmister</b> з продажу меблів.</li>
                <li>6.1.2. Оновити, доповнити надану інформацію про персональні дані в разі зміни даної інформації.</li>
            </ul>
        </li>
        <li>6.2. Адміністрація сайту зобов'язана:
            <ul>
                <li>6.2.1. Використовувати отриману інформацію виключно для цілей, зазначених у п. 4 цієї Політики конфіденційності.</li>
                <li>6.2.2. Забезпечити зберігання конфіденційної інформації в таємниці, не розголошувати без попередньої письмової згоди Користувача, а також не здійснювати продаж, обмін, опублікування, або розголошення іншими можливими способами переданих персональних даних Користувача, за винятком п.п. 5.2. і 5.3. цієї Політики Конфіденційності.</li>
                <li>6.2.3. Вживати заходів обережності для захисту конфіденційності персональних даних Користувача згідно з порядком, який зазвичай використовується для захисту такого роду інформації в існуючому діловому обороті.</li>
                <li>6.2.4. Здійснити блокування персональних даних, що відносяться до відповідного Користувачеві, з моменту звернення або запиту Користувача або його законного представника або уповноваженого органу з захисту прав суб'єктів персональних даних на період перевірки, в разі виявлення недостовірних персональних даних або неправомірних дій.</li>
            </ul>
        </li>
    </ul>
    <p><b>7. Відповідальність сторін</b></p>
    <ul>
        <li>7.1. Адміністрація сайту, яка не виконала свої зобов'язання, несе відповідальність за збитки, понесені Користувачем у зв'язку з неправомірним використанням персональних даних, відповідно до законодавства України, за винятком випадків, передбачених п.п. 5.2., 5.3. і 7.2. цієї Політики Конфіденційності.</li>
        <li>7.2. У разі втрати або розголошення Конфіденційної інформації Адміністрація сайту не несе відповідальність, якщо дана конфіденційна інформація:
            <ul>
                <li>7.2.1. Стала публічним надбанням до її втрати або розголошення.</li>
                <li>7.2.2. Була отримана від третьої сторони до моменту її отримання Адміністрацією сайту.</li>
                <li>7.2.3. Була розголошена за згодою Користувача.</li>
            </ul>
        </li>
    </ul>
    <p><b>8. Вирішення спорів</b></p>
    <ul>
        <li>8.1. До звернення в суд з позовом у спорах, що виникають із відносин між Користувачем сайту і Адміністрацією сайту Інтернет-сервісу <b>Woodmister</b> з продажу меблів, обов'язковим є пред'явлення претензії (письмового пропозиції про добровільне врегулювання спору).</li>
        <li>8.2 .Отримувач претензії протягом 30 календарних днів з дня отримання претензії, письмово повідомляє заявника претензії про результати розгляду претензії.</li>
        <li>8.3. При не досягненні угоди суперечка буде передана на розгляд до судового органу відповідно до чинного законодавства України.</li>
        <li>8.4. До цій Політиці конфіденційності та відносин між Користувачем і Адміністрацією сайту застосовується чинне законодавство України.</li>
    </ul>
    <p><b>9. Додаткові умови</b></p>
    <ul>
        <li>9.1. Адміністрація сайту має право вносити зміни в справжню Політику конфіденційності без згоди Користувача.</li>
        <li>9.2. Нова Політика конфіденційності вступає в силу з моменту її розміщення на Сайті інтернет-магазину, якщо інше не передбачено новою редакцією Політики конфіденційності.</li>
        <li>9.3. Всі пропозиції або питання по цій Політиці конфіденційності слід повідомляти в розділ "КОНТАКТИ".</li>
        <li>9.4. Діюча Політика конфіденційності розміщена на сторінці за адресою <b>woodmister.com/privacy</b></li>
    </ul>
</section>