/* Z-index table
* 10: header
* 9:  aside
* 8:  .alert
*
*/

@import "variables.scss";

html {
    min-height: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif !important;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
    background-color: $light-white;
    color: $light-black;
    position: relative;
    min-height: calc(100% - 50px);
    height: auto;
}

textarea {
    resize: none !important;
}

.turbolinks-progress-bar {
    height: 5px;
    background-color: $pastel-yellow;
}

.alert {
    z-index: 8;
    position: relative;
}

.emoji {
    font-size: 16px;
    margin: 0 3px;
}