$body-width: 1280px;
$header-height: 100px;
$aside-width: 200px;
$footer-height: 50px;

$mobile-width: 768px;

// Colors 🌈
$light-white: #f8f8f8;
$light-black: #292b2c;
$light-grey: #eee;
$pastel-yellow: #c8a165;
