@import "../variables.scss";

aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: $aside-width;
    background-color: $light-white;
    box-shadow: 0 0 2px 1px #b4b4b4;
    z-index: 9;

    .navigation-left {
        
        &__logo {
            display: block;
            margin: 20px 0;
            text-align: center;

            img {
                width: 100px;
                height: $header-height;
            }
        }

        &__login-wrap {
            margin-bottom: 16px;
            padding: 0px 10px;
            text-align: center;
            text-decoration: underline dotted;
            cursor: default;
        }

        &__controls {
            padding-left: 0;
        }
    }
}

.left-menu-item {
    display: block;
    height: 55px;
    line-height: 55px;
    padding: 0 15px 0 25px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    transition: 0.2s;
    animation-timing-function: ease;

    &:hover {
        background-color: $light-grey;
        transition: 0.2s;
        animation-timing-function: ease;
    }

    &.current {
        background-color: $light-grey;
        border-right: 2px solid $pastel-yellow;
    }
}
