@import "../variables.scss";

.footer {
    position: absolute;
    bottom: calc(0 - #{$footer-height});
    left: 0;
    display: flex !important;
    justify-content: space-between;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    background: $light-grey;
    color: $light-black;

    &.content-container_aside {
        width: calc(100% - #{$aside-width});
        margin-left: $aside-width;
    }

    > div {
        padding: 0 20px;
        color: $light-black;
    }


    .social {
       &__item {
           margin: 0 10px;

           span {
                color: #bc770e;
                font-size: 22px;
                line-height: $footer-height;
           }
       }
    }
}

.footer_aside {
    width: calc(100% - #{$aside-width});
    margin-left: $aside-width;
}

@media screen and (max-width: 991px) {
    .footer_aside {
        width: calc(100% - 60px);
        margin-left: 60px;
    }
}

@media screen and (max-width: 450px) {
    .copyright {
        display: none;
    }
}