.cssload-container * {
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}
.cssload-container {
	margin: 100px auto 0 auto;
	max-width: 699px;
}

.cssload-container ul li{
	list-style: none;
}

.cssload-flex-container {
	display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -webkit-flex;
		display: -moz-flex;
	flex-direction: row;
		-o-flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
	flex-wrap: wrap;
		-o-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
	justify-content: space-around;
}
.cssload-flex-container li {
	padding: 13px;
	height: 125px;
	width: 125px;
	margin: 38px 25px;
	position: relative;
	text-align: center;
}

.cssload-loading, .cssload-loading:after, .cssload-loading:before {
	display: inline-block;
	position: relative;
	width: 6px;
	height: 63px;
	background: rgb(200,160,101);
	margin-top: 6px;
	border-radius: 1250px;
		-o-border-radius: 1250px;
		-ms-border-radius: 1250px;
		-webkit-border-radius: 1250px;
		-moz-border-radius: 1250px;
	animation: cssload-upDown2 0.95s ease infinite;
		-o-animation: cssload-upDown2 0.95s ease infinite;
		-ms-animation: cssload-upDown2 0.95s ease infinite;
		-webkit-animation: cssload-upDown2 0.95s ease infinite;
		-moz-animation: cssload-upDown2 0.95s ease infinite;
	animation-direction: alternate;
		-o-animation-direction: alternate;
		-ms-animation-direction: alternate;
		-webkit-animation-direction: alternate;
		-moz-animation-direction: alternate;
	animation-delay: 0.2325s;
		-o-animation-delay: 0.2325s;
		-ms-animation-delay: 0.2325s;
		-webkit-animation-delay: 0.2325s;
		-moz-animation-delay: 0.2325s;
}
.cssload-loading:after, .cssload-loading:before {
	position: absolute;
	content: '';
	animation: cssload-upDown 0.95s ease infinite;
		-o-animation: cssload-upDown 0.95s ease infinite;
		-ms-animation: cssload-upDown 0.95s ease infinite;
		-webkit-animation: cssload-upDown 0.95s ease infinite;
		-moz-animation: cssload-upDown 0.95s ease infinite;
	animation-direction: alternate;
		-o-animation-direction: alternate;
		-ms-animation-direction: alternate;
		-webkit-animation-direction: alternate;
		-moz-animation-direction: alternate;
}
.cssload-loading:before {
	left: -13px;
}
.cssload-loading:after {
	left: 13px;
	animation-delay: 0.475s;
		-o-animation-delay: 0.475s;
		-ms-animation-delay: 0.475s;
		-webkit-animation-delay: 0.475s;
		-moz-animation-delay: 0.475s;
}




@keyframes cssload-upDown {
	from {
		transform: translateY(25px);
	}
	to {
		transform: translateY(-25px);
	}
}

@-o-keyframes cssload-upDown {
	from {
		-o-transform: translateY(25px);
	}
	to {
		-o-transform: translateY(-25px);
	}
}

@-ms-keyframes cssload-upDown {
	from {
		-ms-transform: translateY(25px);
	}
	to {
		-ms-transform: translateY(-25px);
	}
}

@-webkit-keyframes cssload-upDown {
	from {
		-webkit-transform: translateY(25px);
	}
	to {
		-webkit-transform: translateY(-25px);
	}
}

@-moz-keyframes cssload-upDown {
	from {
		-moz-transform: translateY(25px);
	}
	to {
		-moz-transform: translateY(-25px);
	}
}

@keyframes cssload-upDown2 {
	from {
		transform: translateY(38px);
	}
	to {
		transform: translateY(-25px);
	}
}

@-o-keyframes cssload-upDown2 {
	from {
		-o-transform: translateY(38px);
	}
	to {
		-o-transform: translateY(-25px);
	}
}

@-ms-keyframes cssload-upDown2 {
	from {
		-ms-transform: translateY(38px);
	}
	to {
		-ms-transform: translateY(-25px);
	}
}

@-webkit-keyframes cssload-upDown2 {
	from {
		-webkit-transform: translateY(38px);
	}
	to {
		-webkit-transform: translateY(-25px);
	}
}

@-moz-keyframes cssload-upDown2 {
	from {
		-moz-transform: translateY(38px);
	}
	to {
		-moz-transform: translateY(-25px);
	}
}

#loading {
  position: absolute;
  // display: none;
  width: calc(100% - 25vw);
  margin-left: 25vw;
  height: 100%;
  background: #f9f9f9;
  z-index: 4;
  animation-duration: 0.2s;
}
