@import "../variables.scss";

.products {
  position: relative;
  background: #f9f9f9;
  height: calc(100vh - 150px);
  overflow: hidden;
  
  &__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100vh - 226px);
    margin-left: 20vw;
    overflow: auto;
  }

  &__not-found {
    padding-top: 50px;
    font-size: 20px;
  }

  &__paginator {
    position: relative;
    padding: 20px;
    margin-left: 20vw;
    box-shadow: 0 -25px 30px -25px #cacaca;
    z-index: 2;
  }
}

.product {
  display: flex;
  flex-direction: column;
  max-width: 324px;
  margin: 15px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 4px 1px #e7e7e7;
  background-color: white;
  transition: ease 0.3s;
  cursor: default;
  
  @for $i from 1 through 16 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 0.1s + 0.1s;
    }
  }

  &:hover {
    box-shadow: 0 0 20px 2px #c7c7c7;
    transition: ease 0.3s;
  }

  &__image {
    img {
      width: 284px;
    }
  }

  &__info {
    margin-left: 20px;
  }

  &__name {
    max-width: 400px;
    margin: 10px 0;
    font-weight: 700;
    text-align: center;
  }

  &__tags {
    .icon {
      color: $pastel-yellow;
    }

    .tag {
      line-height: 30px;
    }
  }

  &__feature {
    background: rgba(255, 239, 217, 0.6);
    color: #50210b;
    padding: 2px 7px;
    border-radius: 4px;
  }

  &__action {
    margin-top: auto;
  }
}