@import "../variables.scss";

.product-filters {
  position: absolute;
  left: 0;
  top: 0;
  width: 20vw;
  height: calc(100vh - 150px);
  box-sizing: border-box;
  padding: 20px;
  background: white;
  box-shadow: -1px -4px 2px 2px #e7e7e7;
  z-index: 5;

  &.ps .product-filters {
    z-index: -1;
  }
  
  &.fixed {
    position: fixed;
    overflow: auto;
    height: 100vh;
  }

  &__filter {
    margin-bottom: 15px;
  }

  &__current {
    position: relative;
    color: $pastel-yellow;
    font-weight: 700;

    &::before {
      content: '›';
      position: absolute;
      left: 2px;
      line-height: 30px;
      color: $pastel-yellow;
    }
  }

  &_chosen {
    padding: 0 10px 8px 18px;

    &::before {
      content: '›';
      position: absolute;
      left: 2px;
      line-height: 30px;
      color: $pastel-yellow;
    }
  }

  &__title {
    display: inline-block;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 700;
    color: $light-black;
    cursor: pointer;
    border-bottom: 1px dotted $light-black;

    .icon {
      display: inline-block;
      vertical-align: -2px;
      padding-left: 8px;
      padding-right: 8px;
      transition: 0.4s ease;

      &.opened {
        transform: rotate(180deg);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    max-height: 0;
    overflow: hidden;

    &.opened {
      max-height: 1000px;
      transition: ease 1s;
    }
  }
}

#filter-furnitures {
  .product-filters__current {

    &::before {
      left: -14px;
      line-height: 28px;
    }

    .icon-mask {
      background-color: $pastel-yellow;
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
    }
  }

  .filter-furnitures__item {
    padding: 0 10px 8px 18px;

    img {
      margin-right: 6px;
      width: 30px;
      height: 30px;
    }
  }
}

#filter-categories, .product-filters__filter_feature {
  .product-filters__current {
    margin-left: 18px;

    &::before {
      left: -14px;
      line-height: 24px;
    }
  }

  .filter-furnitures__item {
    padding: 0 10px 8px 18px;

    .product-filters__current {
      margin-left: 0;
    }
  }
}
