@import "../variables.scss";

.section {
    max-width: $body-width;
    margin: 30px auto;
    padding: 20px 30px 50px 30px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    
    &__header {
        width: 100%;
        margin: 0;
        padding: 35px 0px;
        text-align: center;
        font-family: 'Alegreya Sans', sans-serif;
        font-weight: 300;
        font-size: 44px;
        text-transform: uppercase;
    }

    &_no-bg {
      background: none !important;
    }

    @media screen and (max-width: $body-width) {
        margin: 30px;
    }
}

.section_no-padding {
    padding: 0;
}
