.status-badge {
  padding: 20px 25px;
  border-radius: 10px;
  
  a {
    text-decoration: underline;
  }
  
  &_info {
    background: #d9edf7;
  }

  &_success {
    background: #dff0d8;
  }

  ol {
    margin: 0;
  }
}