.tariff {
  display: inline-block;
  max-width: 282px;
  height: 420px;
  padding: 25px 19px;
  background-color: #fff;
  border-radius: 12px;
  transition: ease 0.4s;
  cursor: default;
  transition: 0.4 ease;
  box-shadow: 0 5px 10px rgb(63, 63, 63);

  &:hover {
    transform: translateY(-3%);
    box-shadow: 0 5px 10px rgb(14, 14, 14);
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 0 5px 0;
    font-weight: 300;
    font-size: 44px;
    text-transform: uppercase;

    > div {
      display: inline-block;
    }
  }

  &__features {
    padding-left: 20px;
    height: 165px;
  }

  &__name {
    margin-left: 10px;
    font-size: 28px;
  }

  &__icon {
    font-size: 22px;
    margin-right: 5px;

    &.tariff__icon_basic {
      color: grey;
    }

    &.tariff__icon_standard {
      color: #00c70f;
    }

    &.tariff__icon_premium {
      color: gold;
    }
  }

  &__price {
    flex-basis: 100%;
    font-size: 32px;
    font-weight: 700;
    color: #3e3e3e;
  }

  &__per {
    font-weight: 300;
    text-transform: none;
    font-size: 18px;
    vertical-align: 4px;
    margin-left: 6px;
  }

  .icon {
    margin: 0 5px;
  }
}

.tariff-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10px;
  margin-top: 20px;

  > div {
    margin: 8px;
  }

  &_landing {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1480px) {
  .tariff-list {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
  }
}