// setTimeout will put the html replacement to the next timer tick that happens after the ajax:* events being triggered.
setTimeout(function () {
  $('.product-filters').html('<%= escape_javascript render(partial: 'filters') %>');
  $('#products').html('<%= escape_javascript render(@products) %>');
  <% if @products.present? %>
    $('#products').html('<%= escape_javascript render(@products) %>');
  <% else %>
    $('#products').append($.parseHTML('<div class="products__not-found">Товаров не найдено по заданным фильтрам</div>'));
  <% end %>
  $('.products__paginator').html('<%= escape_javascript(paginate(@products, :remote => true).to_s) %>');
});

