 <div class="products">

    <%= render 'filters' %>
    
    <div class="products__list" id="products">
          <%= render @products %>
    </div>

    <div class="products__paginator">
        <%= paginate @products, remote: true %>
    </div>

</div>
