 <section id="resultList" class="section">

    <div class="section__header_wrap">
        <h2 class="section__header"><%= t('product.list-title') %></h2>
        <hr width="60px" size="2" align="center" color="#C8A165">
    </div>

    <%= render 'filters' %>
    
    <div class="result__wrap">
        <div class="result__list" id="products">

          <%= render @products %>

        </div>
    </div>

    <div class="paginator">
        <%= paginate @products, remote: true %>
    </div>

</section>
