<% if current_user.manufacturer? then %>

    <section id="walletTariffs" class="section">

        <div class="tariffs__tabs tabs tabs_left">
            <ul class="nav nav-tabs flex-column tabs__list_left">
                <li class="nav-item tab_white">
                    <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Легкий старт</a>
                </li>
                <li class="nav-item tab_white">
                    <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Стандарт</a>
                </li>
                <li class="nav-item tab_white">
                    <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">Полный фарш</a>
                </li>
            </ul>
            <!-- Tab panels -->
            <div class="tab-content card tabs__container_right">
                <!--Panel 1-->
                <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                    <div class="tariff">
                        <div class="tariff__header_wrap">
                            <h4 class="tariff__header">Легкий старт</h4>
                            <div class="tariff__status tariff__status_lg tariff__status_c"><span class="icon-diamond"></span></div>
                        </div>
                        <div class="tariff__body">
                            <p class="tariff__description">Lorem ipsum dolor sit amet</p>
                            <ul class="tariff__list list">
                                <span class="list__header">Функции:</span>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Ключевые слова</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Ремаркетинг</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Структура аккаунта</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Минус-слова</span></li>
                            </ul>
                            <div class="tariff__price">
                                <span>200$/мес</span>
                            </div>
                            <button class="tariff__btn box">
                                <span class="box__content_wrap">
                                    <span class="icon-wallet icon"></span>
                                    <span class="box__content">Подписаться</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="panel2" role="tabpanel">
                    <div class="tariff">
                        <div class="tariff__header_wrap">
                            <h4 class="tariff__header">Стандарт</h4>
                            <div class="tariff__status tariff__status_lg tariff__status_b"><span class="icon-diamond"></span></div>
                        </div>
                        <div class="tariff__body">
                            <p class="tariff__description">Aenean commodo ligula eget dolor</p>
                            <ul class="tariff__list list">
                                <span class="list__header">Функции:</span>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Ключевые слова</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Ремаркетинг</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Структура аккаунта</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Минус-слова</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Ключевые слова</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Ремаркетинг</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Структура аккаунта</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Минус-слова</span></li>
                            </ul>
                            <div class="tariff__price">
                                <span>400$/мес</span>
                            </div>
                            <button class="tariff__btn box">
                                <span class="box__content_wrap">
                                    <span class="icon-wallet icon"></span>
                                    <span class="box__content">Подписаться</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="panel3" role="tabpanel">
                    <div class="tariff">
                        <div class="tariff__header_wrap">
                            <h4 class="tariff__header">Полный фарш</h4>
                            <div class="tariff__status tariff__status_lg tariff__status_a"><span class="icon-diamond"></span></div>
                        </div>
                        <div class="tariff__body">
                            <p class="tariff__description">Nulla consequat massa quis enim</p>
                            <ul class="tariff__list list">
                                <span class="list__header">Функции:</span>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Ключевые слова</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Ремаркетинг</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Структура аккаунта</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Минус-слова</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Ключевые слова</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Ремаркетинг</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Структура аккаунта</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Минус-слова</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Структура аккаунта</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Минус-слова</span></li>
                                <li class="list__item"><img src="img/checked.svg" alt="" class="list__icon"><span>Ключевые слова</span></li>
                            </ul>
                            <div class="tariff__price">
                                <span>600$/мес</span>
                            </div>
                            <button class="tariff__btn box">
                                <span class="box__content_wrap">
                                    <span class="icon-wallet icon"></span>
                                    <span class="box__content">Подписаться</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="settings__states states">
            <h4 class="sm__header">Изменить области поиска</h4>
            <div class="state__list">
                <div class="state">
                    <div class="checkbox">
                        <input type="checkbox" value="None" id="state1" name="rememberStatus" checked />
                        <label for="state1"></label>
                        <div class="checkbox__label">Киевская</div>
                    </div>
                </div>
                <div class="state">
                    <div class="checkbox">
                        <input type="checkbox" value="None" id="state1" name="rememberStatus" checked />
                        <label for="state1"></label>
                        <div class="checkbox__label">Кировоградская</div>
                    </div>
                </div>
                <div class="state">
                    <div class="checkbox">
                        <input type="checkbox" value="None" id="state1" name="rememberStatus" checked />
                        <label for="state1"></label>
                        <div class="checkbox__label">Киевская</div>
                    </div>
                </div>
                <div class="state">
                    <div class="checkbox">
                        <input type="checkbox" value="None" id="state1" name="rememberStatus" checked />
                        <label for="state1"></label>
                        <div class="checkbox__label">Кировоградская</div>
                    </div>
                </div>
                <div class="state">
                    <div class="checkbox">
                        <input type="checkbox" value="None" id="state1" name="rememberStatus" checked />
                        <label for="state1"></label>
                        <div class="checkbox__label">Киевская</div>
                    </div>
                </div>
                <div class="state">
                    <div class="checkbox">
                        <input type="checkbox" value="None" id="state1" name="rememberStatus" checked />
                        <label for="state1"></label>
                        <div class="checkbox__label">Кировоградская</div>
                    </div>
                </div>
                <div class="state">
                    <div class="checkbox">
                        <input type="checkbox" value="None" id="state1" name="rememberStatus" checked />
                        <label for="state1"></label>
                        <div class="checkbox__label">Киевская</div>
                    </div>
                </div>
                <div class="state">
                    <div class="checkbox">
                        <input type="checkbox" value="None" id="state1" name="rememberStatus" checked />
                        <label for="state1"></label>
                        <div class="checkbox__label">Кировоградская</div>
                    </div>
                </div>
                <div class="state">
                    <div class="checkbox">
                        <input type="checkbox" value="None" id="state1" name="rememberStatus" checked />
                        <label for="state1"></label>
                        <div class="checkbox__label">Киевская</div>
                    </div>
                </div>
                <div class="state">
                    <div class="checkbox">
                        <input type="checkbox" value="None" id="state1" name="rememberStatus" checked />
                        <label for="state1"></label>
                        <div class="checkbox__label">Кировоградская</div>
                    </div>
                </div>
            </div>
            <button class="form__btn box">
                <span class="box__content_wrap">
                    <span class="icon-note icon"></span>
                    <span class="box__content">Сохранить изменения</span>
                </span>
            </button>
        </div>
        
    </section>

<% end %>

<section id="settings" class="section">
    <div class="settings">
        <div class="settings__password password">
            <h4 class="sm__header">Изменить пароль</h4>
            <div class="password__form">
                <form id="passwordChange" class="form">
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <input type="password" name="oldpassword" required placeholder="Введите  старый пароль" class="form-control input-field">
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <input type="password" name="newpassword" required placeholder="Введите новый пароль" class="form-control input-field">
                        </div>
                    </div>
                    <div class="select-wrapper">
                        <div class="select form-group">
                            <input type="password" name="newrepassword" required placeholder="Подтвердите новый пароль" class="form-control input-field">
                        </div>
                    </div>
                    <button class="form__btn box">
                        <span class="box__content_wrap">
                            <span class="icon-note icon"></span>
                            <span class="box__content">Сохранить изменения</span>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
