<footer class="footer footer_static">
    <span>DevItems 2017. All Rights Reserved.</span>
    <div class="social__list">
        <a href="#" target="_blank" class="social"><span class="icon-social-facebook"></span></a>
        <a href="#" target="_blank" class="social"><span class="icon-social-twitter"></span></a>
        <a href="#" target="_blank" class="social"><span class="icon-social-instagram"></span></a>
    </div>
</footer>