<% if notice %>
    <p class="alert alert-success alert-dissmissable"><%= notice %></p>
<% end %>

<% if alert %>
    <p class="alert alert-danger alert-dissmissable"><%= alert %></p>
<% end %>

<!-- FIXME: messages are displayng OK but css is bad -->