<nav class='navigation navigation_top'>
    <div class='logo'>
        <a href='#' target='_blank'>woodworld</a>
    </div>
    
    <a href='#' target='_blank' class='controls__item item item_phone'>
        <span class='icon-phone item__icon'></span>
        <span class='item_lg'>093 98 244 11</span>
    </a>

    <div class='navigation__bar controls'>

        <% if user_signed_in? %>

            <%= link_to profile_path, class: 'controls__item item' do %>
                <span class='icon-key item__icon'></span>
                <span>Личный кабинет</span>
            <% end %>

            <a href='#' target='_blank' class='controls__item item'>
                <span class='icon-settings item__icon'></span>
                <span>Настройки</span>
            </a>

            <%= link_to destroy_user_session_path, class: 'controls__item item', method: :delete do %>
                <span>Выход</span>
            <% end %>

        <% else %>

            <%= link_to new_user_session_path, class: 'controls__item item', id: 'sign_in' do %>
                <div class='login_circle'><span class='icon-user'></span></div>
                <span>Вход</span>
            <% end %>

        <% end %>
    
    </div>
</nav>