<nav class="navigation navigation_left">
    <div class="logo">
        <a href="#" target="_blank">woodworld</a>
    </div>
    <p class="navigation__info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

    <a href="#" class="login_wrap">
        <div class="login_circle login_circle_lg"><img src="img/user.png" alt=""></div>
        <span class="login">Вова Приходько</span>
    </a>
    <ul class="navigation__controls controls">
        <li class="controls__item item">
            <a href="#" target="_blank">
                <span class="icon-home item__icon"></span>
                <span>Главная</span>
            </a>
        </li>
        <li class="controls__item item">
            <a href="#" target="_blank">
                <span class="icon-key item__icon"></span>
                <span>Профиль</span>
            </a>
        </li>
        <li class="controls__item item">
            <a href="#" target="_blank">
                <span class="icon-list item__icon"></span>
                <span>Каталог</span>
            </a>
        </li>
        <li class="controls__item item">
            <a href="#" target="_blank">
                <span class="icon-bell item__icon"></span>
                <span>Заявки</span>
            </a>
        </li>
        <li class="controls__item item">
            <a href="#" target="_blank">
                <span class="icon-wallet item__icon"></span>
                <span>Кошелек</span>
            </a>
        </li>
        <li class="controls__item item">
            <a href="#" target="_blank">
                <span class="icon-question item__icon"></span>
                <span>Вопросы</span>
            </a>
        </li>
        <li class="controls__item item">
            <a href="#" target="_blank">
                <span class="icon-settings item__icon"></span>
                <span>Настройки</span>
            </a>
        </li>
    </ul>
    <div class="social__list">
        <a href="#" target="_blank" class="social"><span class="icon-social-facebook"></span></a>
        <a href="#" target="_blank" class="social"><span class="icon-social-twitter"></span></a>
        <a href="#" target="_blank" class="social"><span class="icon-social-instagram"></span></a>
    </div>
</nav>