<nav class='navigation navigation_top'>
    <div class='logo'>
        <a href='#' target='_blank'>woodworld</a>
    </div>
    <div class='navigation__bar controls'>
        <%= link_to new_user_session_path, class: 'controls__item item' do %>
            <div class='login_circle'><span class='icon-user'></span></div>
            <span>Вход</span>
        <% end %>
        <a href='#' target='_blank' class='controls__item item'>
            <span class='icon-key item__icon'></span>
            <span>Личный кабинет</span>
        </a>
        <a href='#' target='_blank' class='controls__item item'>
            <span class='icon-settings item__icon'></span>
            <span>Настройки</span>
        </a>
        <a href='#' target='_blank' class='controls__item item'>
            <span class='icon-phone item__icon'></span>
            <span class='item_lg'>093 98 244 11</span>
        </a>
    </div>
</nav>